
# Comment
tempfile.txt
.DS_Store
*.zip
*.gz
log/*.log
log/*.log.[0-9]
# Ignore paths that contain generated content.
cache/
files/
sites/*/files
sites/*/private
# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php
